.flex{
    display: flex;
    justify-content: space-around;
}
.produit.flex{
    flex-direction: column;
    width: 33%;
}
img{
    width: 100%;
}
.btn{
    border: 1px solid black;
    padding: 12px;
    cursor: pointer;
}